In [1]:
import os
import pandas as pd

In [2]:
script_dir = os.getcwd()
output_dir = os.path.join(script_dir, "data")
places_file = os.path.join(output_dir, "fsq_places_sample.csv")
categories_file = os.path.join(output_dir, "fsq_categories_sample.csv")

df_places = pd.read_csv(places_file, nrows=10)
df_categories = pd.read_csv(categories_file)

In [7]:
df_places.columns

Index(['fsq_place_id', 'name', 'latitude', 'longitude', 'address', 'locality',
       'region', 'postcode', 'admin_region', 'post_town', 'po_box', 'country',
       'date_created', 'date_refreshed', 'date_closed', 'tel', 'website',
       'email', 'facebook_id', 'instagram', 'twitter', 'fsq_category_ids',
       'fsq_category_labels', 'placemaker_url', 'unresolved_flags', 'geom',
       'bbox'],
      dtype='object')

In [3]:
df_places

,fsq_place_id,name,latitude,longitude,address,locality,region,postcode,admin_region,post_town,...,email,facebook_id,instagram,twitter,fsq_category_ids,fsq_category_labels,placemaker_url,unresolved_flags,geom,bbox
0,59cf6cf9c876c857cfa4fa95,Assila Spa,NaN,NaN,NaN,Jeddah,Makkah,23326.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://foursquare.com/placemakers/review-plac...,NaN,NaN,NaN
1,564fac1360b269848aa2ef78,Foodtown South,NaN,NaN,858 South Dill St,East Bernard,TX,77435.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://foursquare.com/placemakers/review-plac...,NaN,NaN,NaN
2,85320866b2ec4603f504438b,Aguilar Quiroz Alejandro,NaN,NaN,Cll Argelia 20 2,Uruapan,Michoacan,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,['63be6904847c3692a84b9b3e'],['Business and Professional Services > Financi...,https://foursquare.com/placemakers/review-plac...,NaN,NaN,NaN
3,6a73beac7eb64273d8aa7e63,АТТРАКЦИОНЫ ПАРКА КУЛЬТУРЫ И ОТДЫХА СЕВЕРНОЕ Т...,NaN,NaN,Свободы Ул. 56,Москва,Москва,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,['4d4b7105d754a06379d81259'],['Travel and Transportation'],https://foursquare.com/placemakers/review-plac...,NaN,NaN,NaN
4,8ea66c524db84cf7fcbfff2e,Farmacias de Similares,NaN,NaN,Avenida Enida Insurgentes Sur 1991F,Ciudad de México,Ciudad de México,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,['5745c2e4498e11e7bccabdbd'],['Retail > Drugstore'],https://foursquare.com/placemakers/review-plac...,NaN,NaN,NaN
5,bc10bd0488af4805136e727d,"Zhejiang Aoke Pearlescent Pigment Co.,Ltd.",NaN,NaN,No. 2 Sanjie Industrial Zone,NaN,NaN,312452.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://foursquare.com/placemakers/review-plac...,NaN,NaN,NaN
6,8f0ee1f3295c46a8718c0113,САНЛАЙТ ГРУПП ФИРМА,NaN,NaN,"Нагорная Ул., д. 20 корп. 6, оф. 6",Москва,Москва,117186.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://foursquare.com/placemakers/review-plac...,NaN,NaN,NaN
7,16ba44b2f8154621da6019e6,Ruiz Gonzalez Gabriela,NaN,NaN,Cll Cascada de Agua Azul 535,Tuxtla Gutiérrez,Chiapas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,['63be6904847c3692a84b9b36'],['Business and Professional Services > Constru...,https://foursquare.com/placemakers/review-plac...,NaN,NaN,NaN
8,59fade17840fc22443281ea8,cotage 364,NaN,NaN,NaN,America,Limburg,5966.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://foursquare.com/placemakers/review-plac...,NaN,NaN,NaN
9,971ea6e372fa48fefc30656d,Mohd Kqamil Abd Aziz,NaN,NaN,9 Bloka2 Pusat Dagang Setia Jaya Jalan Klang L...,Petaling Jaya,Selangor,47300.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://foursquare.com/placemakers/review-plac...,NaN,NaN,NaN

In [8]:
df_categories

,category_id,category_level,category_name,category_label,level1_category_id,level1_category_name,level2_category_id,level2_category_name,level3_category_id,level3_category_name,level4_category_id,level4_category_name,level5_category_id,level5_category_name,level6_category_id,level6_category_name
0,63be6904847c3692a84b9c0c,3,Hockey Club,Sports and Recreation > Hockey > Hockey Club,4f4528bc4b90abdf24c9de85,Sports and Recreation,63be6904847c3692a84b9c0b,Hockey,63be6904847c3692a84b9c0c,Hockey Club,NaN,NaN,NaN,NaN,NaN,NaN
1,52960eda3cf9994f4e043acc,5,Indonesian Meatball Restaurant,Dining and Drinking > Restaurant > Asian Resta...,63be6904847c3692a84b9bb5,Dining and Drinking,4d4b7105d754a06374d81259,Restaurant,4bf58dd8d48988d142941735,Asian Restaurant,4deefc054765f83613cdba6f,Indonesian Restaurant,52960eda3cf9994f4e043acc,Indonesian Meatball Restaurant,NaN,NaN
2,4bf58dd8d48988d117951735,3,Candy Store,Retail > Food and Beverage Retail > Candy Store,4d4b7105d754a06378d81259,Retail,4bf58dd8d48988d1f9941735,Food and Beverage Retail,4bf58dd8d48988d117951735,Candy Store,NaN,NaN,NaN,NaN,NaN,NaN
3,56aa371be4b08b9a8d57350e,4,Satay Restaurant,Dining and Drinking > Restaurant > Asian Resta...,63be6904847c3692a84b9bb5,Dining and Drinking,4d4b7105d754a06374d81259,Restaurant,4bf58dd8d48988d142941735,Asian Restaurant,56aa371be4b08b9a8d57350e,Satay Restaurant,NaN,NaN,NaN,NaN
4,4bf58dd8d48988d189941735,3,Football Stadium,Arts and Entertainment > Stadium > Football St...,4d4b7104d754a06370d81259,Arts and Entertainment,4bf58dd8d48988d184941735,Stadium,4bf58dd8d48988d189941735,Football Stadium,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240,55a5a1ebe4b013909087cb83,4,Puglia Restaurant,Dining and Drinking > Restaurant > Italian Res...,63be6904847c3692a84b9bb5,Dining and Drinking,4d4b7105d754a06374d81259,Restaurant,4bf58dd8d48988d110941735,Italian Restaurant,55a5a1ebe4b013909087cb83,Puglia Restaurant,NaN,NaN,NaN,NaN
1241,5bae9231bedf3950379f89e1,4,Egyptian Restaurant,Dining and Drinking > Restaurant > Middle East...,63be6904847c3692a84b9bb5,Dining and Drinking,4d4b7105d754a06374d81259,Restaurant,4bf58dd8d48988d115941735,Middle Eastern Restaurant,5bae9231bedf3950379f89e1,Egyptian Restaurant,NaN,NaN,NaN,NaN
1242,58daa1558bbb0b01f18ec1c4,5,Gilaki Restaurant,Dining and Drinking > Restaurant > Middle East...,63be6904847c3692a84b9bb5,Dining and Drinking,4d4b7105d754a06374d81259,Restaurant,4bf58dd8d48988d115941735,Middle Eastern Restaurant,52e81612bcbc57f1066b79f7,Persian Restaurant,58daa1558bbb0b01f18ec1c4,Gilaki Restaurant,NaN,NaN
1243,56aa371be4b08b9a8d5734fc,3,Confucian Temple,Community and Government > Spiritual Center > ...,63be6904847c3692a84b9b9a,Community and Government,4bf58dd8d48988d131941735,Spiritual Center,56aa371be4b08b9a8d5734fc,Confucian Temple,NaN,NaN,NaN,NaN,NaN,NaN
1244,52e81612bcbc57f1066b79f8,3,Pakistani Restaurant,Dining and Drinking > Restaurant > Pakistani R...,63be6904847c3692a84b9bb5,Dining and Drinking,4d4b7105d754a06374d81259,Restaurant,52e81612bcbc57f1066b79f8,Pakistani Restaurant,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_categories.columns

Index(['category_id', 'category_level', 'category_name', 'category_label',
       'level1_category_id', 'level1_category_name', 'level2_category_id',
       'level2_category_name', 'level3_category_id', 'level3_category_name',
       'level4_category_id', 'level4_category_name', 'level5_category_id',
       'level5_category_name', 'level6_category_id', 'level6_category_name'],
      dtype='object')